@model WebApplication4.Models.DegreePlan

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>DegreePlan</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DegreePlanAbbrev)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DegreePlanAbbrev)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DegreePlanName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DegreePlanName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.StudentID)
            </dd>
            <dd>
                <table class="table">
                    <tr>
                        <th>DegreePlanID</th>
                        <th>Term</th>
                        <th>CreditID</th>
                        <th>Status</th>
                    </tr>
                </table>
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.DegreePlanID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
