@model WebApplication4.Models.Credit

@{

    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreditAbbrev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreditAbbrev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreditName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreditName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSummer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSpring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsFall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsFall)
        </dd>
        <dd>
            <table class="table">
               <tr>
                <th>Number</th>
                <th>Abbrev</th>
                <th>Requirement Name</th>
               </tr>

            @foreach (var item in Model.DegreeCredits.OrderBy(r => r.CreditID))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CreditID) </td>
                    <td>@Html.DisplayFor(modelItem => item.DegreeCreditID) </td>
                    <td>@Html.DisplayFor(modelItem => item.DegreeID)   </td>
                </tr>
            }
            </table>
         </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CreditID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
