@model WebApplication4.Models.Student

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Given)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Given)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Snumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Snumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.number_919)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.number_919)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Abbrev</th>
                    <th>Requirement Name</th>
                </tr>
                @foreach (var item in Model.DegreePlans.OrderBy(r => r.DegreePlanID))
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DegreePlanID) </td>
                    <td>@Html.DisplayFor(modelItem => item.StudentID) </td>
                    <td>@Html.DisplayFor(modelItem => item.DegreePlanAbbrev)   </td>
                    <td>@Html.DisplayFor(modelItem => item.DegreePlanName)   </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
